.cart {
  display: grid;
  place-items: center;
  flex-direction: column;
  margin: auto;
  width: 80%;

}

.cartItem {
  width: 700px;
  height: 250px;
  min-width: 700px;
  min-height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
  padding-left: 30px;
}

.description {
  max-height:260px;
}




.countHandler input {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  font-weight: bolder;
  margin-left: 40px;
  margin-bottom: 10px;
}



.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

#subtotal {
  text-align: center;
  font-size: 20px;

}